html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus,
*.active,
*:active,
*:visited,
*:hover,
button,
input,
select {
  outline: 0;
  text-decoration: none;
}

img {
  display: block;
  width: auto;
  max-height: 100%;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}
