html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus,
*.active,
*:active,
*:visited,
*:hover,
button,
input,
select {
  outline: 0;
  text-decoration: none;
}

img {
  display: block;
  width: auto;
  max-height: 100%;
}

body {
  font-family: $main-font-stack;
}
