.container {
  width: 100%;
  max-width: 290px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;

  @media (min-width: 480px) {
    max-width: 440px;
  }

  @media (min-width: 768px) {
    max-width: 670px;
  }

  @media (min-width: 1024px) {
    max-width: 900px;
  }

  @media (min-width: 1600px) {
    max-width: 1200px;
  }
}
