.service {
  margin-bottom: 82px;

  &__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto 20px;

    span {
      color: $accent-color;
    }
  }

  &__text {
    font-size: 18px;
    color: $grey-color;
    text-align: center;
    margin: 0 auto 60px;
  }
}

.service-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

  &__header {
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    margin-bottom: 50px;
  }

  &__description {
    font-size: 15px;
    font-weight: 400;
    color: $grey-color;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 380px;
    text-align: center;
    border: 1px solid $grey-color;
    padding: 80px 10px 30px;
    position: relative;
    margin: 0 auto 10px;

    &:before {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 30px;
      left: 180px;
      content: '';
      margin-bottom: 15px;
    }

    &:hover {
      color: $accent-color;
    }
  }
}

.service-list__item--development::before {
  background-image: url('../../images/svg/development.svg');
}

.service-list__item--responsive::before {
  background-image: url('../../images/svg/responsive.svg');
}

.service-list__item--design::before {
  background-image: url('../../images/svg/design.svg');
}

.service-list__item--graphic::before {
  background-image: url('../../images/svg/graphic.svg');
}

.service-list__item--photography::before {
  background-image: url('../../images/svg/photography.svg');
}

.service-list__item--editing::before {
  background-image: url('../../images/svg/editing.svg');
}
